*{
    padding: 0;
    margin: 0;
}

.face{
    margin-top: 5px;
    margin-left: 1560px;
}

.about{
    margin-top: 25px;
    margin-left: 20px;
}

.hi{
    color: orange;
    font-size: 45px;
    font-family: Cambria;
}
